.main {

}

.slide {
    
}

input + label + div  {
    visibility: hidden;
}

.slide > img {
    position: absolute;

    left: 0;

    width: 1280px;
    height: 720px;
}

input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);

    cursor: pointer;

    z-index: 10000;
    position: relative;

    margin-right: 10px;
    top: 750px;

    transition: background 0.8s ease-out 0s;
}

input:checked + label + div {
    visibility: visible;
    opacity: 1;
    animation-name: moveslide1;
    animation-duration: 3s;
    /*animation-delay: 0.3ms;*/
    animation-fill-mode: forwards;
}

input:checked + label {
    background: rgba(218, 70, 70, 0.8);
}


input {
    position: absolute;
    display: none;
}


@keyframes moveslide1 {
    from {
        opacity: 0;
        /*transform: translateX(-100%)*/
    }
    to {
        /*transform: translateX(0);*/
        opacity: 1;
    }
}
